################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TenantProxy/.vs/TenantProxy
/TenantProxy/bin/Debug/netcoreapp3.1
/TenantProxy/obj
